/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html

Это блок который трогать не надо, это своего рода сброс стилей для всех элементов
т.е. ты весь своей цсс будешь писать после этого блока

-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td  {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body  {
	line-height:17px;
	font-size:13px;
}
h2, h3, h4, h5, h6  {
	clear: both;
	font-weight: normal;
}
ol, ul  {
	list-style: none;
}
blockquote  {
	font-style:italic;
	background:url(images/blockquote.gif) 1px 0 no-repeat;
	padding:15px 0 0 22px;
	color:#222222;
	font-family:Georgia;
}
.entry blockquote  {
	margin:32px 0 25px;
	font-size:14px;
	line-height:22px;
}
blockquote:before, blockquote:after  {
	content: '';
	content: none;
}
del  {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table  {
	border-collapse: collapse;
	border-spacing: 0;
}
a img  {
	border: none;
}

/* =Structure
А вот тут уже начинаются твои стили
-------------------------------------------------------------- */

/*------------------------------------------------------------ global start*/

body  {
	border-top: 2px solid #4d83cc;
	font-size: 0;
}

a {
	text-decoration: none;
}

.global {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

.cart {
	margin-top: -3px;
	background-color: #4d83cc;
	height: 29px;
	width: 100px;
	color: #fff;
	font-size: 12px;
	font-family: tahoma;
	float: right;
	border-radius: 3px;
	text-decoration: none;
}

.cart_display {
	margin: 3px 0 0 12px;
}

.text_cart_display {
	vertical-align: super; 
}

.login {
	margin-top: -3px;
	margin-left: 10px;
	background-color: #4d83cc;
	width: 120px;
	color: #fff;
	font-size: 12px;
	line-height: 29px;
	font-family: tahoma;
	float: right;
	border-radius: 3px;
	text-decoration: none;
	text-align: center;
}

.text_login {
	padding-top: 10px;
}

/*------------------------------------------------------------ global end*/
/*------------------------------------------------------------ header start*/

.header {
	height: 178px;
	margin-top: 20px;
}

.logo {
	float: left;
	height: 153px;
	width: 340px;
	background: #fff url(logo.png) no-repeat;
	text-decoration: none;
	position: relative;
}

.cloudunion {
	opacity: 0;
}

.slogan {
	font-family: Trebuchet MS;
	color: #4d83cc;
	font-size: 24px;
	position: absolute;
	right: 0;
	bottom: 0;
}

.ul_top {
	border-bottom: 1px dashed #aab0b0;
	float: right;
	margin-top: 70px;
}

.li_top {
	display: inline-block;
}

.link_top {
	font-family: Comic Sans MS;
	color: #566261;
	font-size: 14px;
	margin-left: 70px;
	text-decoration: none;
	position: relative;
	top: 5px;
}

.link_top:hover {
	border-bottom: 4px solid #4d83cc;
}
/*------------------------------------------------------------ header end*/
/*------------------------------------------------------------ main_content start*/

.main_dot {
	height: 70px;
}

.dot_float {
	float: right;
}

.dot {
	margin: 20px 0 0 12px;
	height: 10px;
	width: 10px;
	border: 2px solid #487fca;
	border-radius: 10px;
	display: inline-block;
}

.dot:hover {
	background-color: #566261;
}

/*------------------------------------------------------------ left_column start*/

.main_content_left {
	width: 660px;
	float: left;
}

.main_text {
	color: #566261;
	font-size: 18px;
	font-family: tahoma;
	font-weight: normal;
	line-height: 28px;
	height: 160px;
	border-bottom: 1px dashed #aab0b0;
}

.text_big_blue {
	font-size: 24px;
	font-weight: bold;
	color: #4d83cc;
}
.text_big_grey {
	font-size: 24px;
	font-weight: bold;
	color: #566261;
}

.pic {
	font-size: 0;
}

.name_link {
	font-family: Comic Sans MS;
	color: #4d83cc;
	font-size: 18px;
	margin-top: 35px;
	margin-bottom: 25px;
}

.main_img_1 {
	height: 310px;
	width: 310px;
	background: url(pic_1.png);
	display: inline-block;
	margin-bottom: 40px;
	overflow: hidden;
}

.main_img_2 {
	height: 310px;
	width: 310px;
	background-image: url(pic_2.png);
	display: inline-block;
	margin-left: 40px;
	margin-bottom: 40px;
	overflow: hidden;
}

.main_img_3 {
	height: 310px;
	width: 310px;
	background-image: url(pic_3.png);
	display: inline-block;
	margin-bottom: 40px;
	overflow: hidden;
}

.main_img_4 {
	height: 310px;
	width: 310px;
	background-image: url(pic_4.png);
	display: inline-block;
	margin-left: 40px;
	margin-bottom: 40px;
	overflow: hidden;
}

.order {
	padding: 5px 10px;
	float: right;
	color: #ffffff;
	font-size: 10px;
	background-color: #4d83cc;
	font-family: Comic Sans MS;
}

/*------------------------------------------------------------ left_column end*/
/*------------------------------------------------------------ right_column start*/

.main_content_right {
	width: 210px;
	float: right;
}

.text_search {
	color: #566261;
	font-size: 18px;
	font-family: tahoma;
	font-weight: normal;
	line-height: 24px;
}

.search_box {
	display: block;
	min-width: 100%;
	margin-bottom: 80px;
}

.search_box .inner{
	display: block;
	background-color: #889190;
	position: relative;
}

.search {
	box-sizing: border-box;
	width: 100%;
	height: 25px;
	border: none;
	display: block;
	padding-right: 30px;
	background: transparent;
	padding-left: 6px;
	color: #fff;
}

.img_button {
	background: #889190 url(search.png) no-repeat 2px 3px;
	position: absolute;
	cursor: pointer;
	top: 0;
	right: 0;
	width: 30px;
	height: 25px;
	border: none;
}

.news {
	color: #4d83cc;
	font-size: 12px;
	font-family: tahoma;
	line-height: 30px;
	background: url(cloud.png) no-repeat;
	padding-left: 35px;
	position: relative;
}

.text_news {
	font-size: 12px;
	line-height: 18px;
	font-family: tahoma;
	margin-top: 10px;
	margin-bottom: 30px;
}

.data{
	line-height: 8px;
	font-style: tahoma;
	font-size: 9px;
	color: #4d83cc;
	position: absolute;
	left: 11px;
	top: 11px;
}

.cloud {
	float: left;
}

/*------------------------------------------------------------ right_column end*/
/*------------------------------------------------------------ main_content end*/
/*------------------------------------------------------------ footer start*/

.gb_footer {
	height: 250px;
	background: #282e2e url(noznici.png) no-repeat 0% 88%;
}

.footer {
	margin: 0 auto;
	padding-top: 10px;
	width: 960px;
	height: 200px;
	color: #4d83cc;
}

.footer_logo {
	padding-top: 10px;
	height: 200px;
	width: 360px;
	line-height: 26px;
	display: inline-block;
}

.footer_logo,
.footer_nav_part_1,
.footer_nav_part_2,
.footer_search {
	vertical-align: top;
}

.text_big_blue_f {
	font-size: 36px;
	font-weight: bold;
	color: #4d83cc;
}
.text_big_grey_f {
	font-size: 36px;
	font-weight: bold;
	color: #566261;
}

.slogan_footer {
	font-family: Trebuchet MS;
	color: #4d83cc;
	font-size: 24px;
}

.footer_nav_part_1 {
	height: 200px;
	width: 150px;
	display: inline-block;
}

.footer_nav_part_2 {
	height: 200px;
	width: 150px;
	display: inline-block;
}

.footer_search {
	height: 190px;
	width: 280px;
	display: inline-block;
}

.footer_bottom {
	margin: 0 auto;
	width: 960px;
	height: 30px;
	font-size: 12px;
	color: #4d83cc;
	line-height: 28px;
	text-align: center;
	font-family: Tahoma;
}

.text_blue {
	color: #4d83cc;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	font-style: Verdana, tahoma, Trebuchet MS;
}

.text_grey {
	color: #566261;
	text-decoration: none;
	font-size: 14px;
	line-height: 20px;
	font-style: Verdana, tahoma, Trebuchet MS;
}

.mail {
	width: 150px;
	height: 25px;
	background-color: #566261;
	border: 0;
	font-size: 14px;
	font-family: Verdana;
	color: #9aa0a0;
	font-style: italic;
	padding-left: 5px;
}

.footer_button {
	background-color: #566261;
	font-size: 12px;
	line-height: 20px;
	font-family: Verdana;
	color: #9aa0a0;
	border-radius: 3px;
	margin-left: 10px;
	border-top: 2px solid #707c7b;
	border-left: 2px solid #707c7b;
	border-right: 2px solid #4b5453;
	border-bottom: 2px solid #4b5453;
}

.g_footer_bottom{
	border-top: 1px dashed #4d83cc;
}
/*------------------------------------------------------------ footer end*/
